<app-navbar></app-navbar>
<div class="row" >
    <div class="col" id=col1>
<body>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <div class="container"  id="main container"*ngFor="let pizzaOrder of pizzaOrders">
    <div class="row" id="main">
       
            <div class="col-lg-auto">
                <div class="img-thumbnail">
                    <img src={{pizzaOrder.pizza.url}} class="img"/>
                </div>
            </div>
            <div class="col">
                <span><strong>{{pizzaOrder.pizza.name}}</strong></span><br>
                <div class="quantity" id="quantity">
                    <button type="button"(click)="minus(pizzaOrder)" ><i class="fa fa-minus"></i></button>
                    <input type="text" value={{pizzaOrder.quantity}} size="5">
                    <button type="button"(click)="plus(pizzaOrder)"><i class="fa fa-plus"></i></button>
                </div> <br>
                <select ngModel (ngModelChange)="size(pizzaOrder,$event)" [value]="pizzaOrder.size"  >
                    <option disabled selected value> {{pizzaOrder.size}} </option>
                    <option >medium</option> 
                    <option >large</option>
                    <option >small</option>
                </select>
                <div>
                    Total:{{pizzaOrder.totalCost}}
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="col"></div>
                <div class="row">
                <span><b>Mode:</b> {{pizzaOrder.transactionMode}}</span><br>
                <span> <b>Date:</b> {{pizzaOrder.orderDate}}</span>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row-md"> 
            <button type="button" class="btn btn-success btn-lg" id="a221" (click)="updatePO(pizzaOrder)">Update</button>
            <button type="button" class="btn btn-danger btn-lg" id="a122" (click)="deletePO(pizzaOrder)">Delete</button>
            </div>
        </div>
    </div>    
    
</div>


    </body>
</div>
<div class="col" id="sticky" >
<div class="card  col" id="sticky1" style="max-width: 18rem;">
    <div class="card-header">OrderDetails</div>
    <div class="card-body">
      <h5 class="card-title">No of Pizzas:{{pizzaOrders.length}}</h5>
      <h5 class="card-title">TotalCost:{{totalcost}}</h5>
      <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
    </div>
</div>
</div>
